<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestió de Equips</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Equips per <%= user.name %>!</h1>
        <a href="/" class="back-button">Home</a>
        <a href="/teams/create" class="create-button">Crear Nou Equip</a>
    </header>

    <main>
        <section>
            <h2>Llista de Equips</h2>
            <ul class="item-list">
                <% data.teams.forEach(team => { %>
                    <li class="item">
                        <a href="/teams/<%= team.id %>" class="item-link">
                            <img src="<%= team.photo %>" alt="<%= team.name %>" class="photo">
                            <strong><%= team.name %></strong>
                            <span>Pais: <%= team.country %></span>
                            <span>Campionats de constructors: <%= team.worldChampionships %></span>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>
