<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita Equip</title>
    <link rel="stylesheet" href="/nou_css.css">
</head>

<body>
    <header>
        <h1>Editar Equip: <%= team.name %>
        </h1>
    </header>

    <main>
        <form action="/teams/<%= team.id %>?_method=PUT" method="POST">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" value="<%= team.name %>" required>

            <label for="country">Pais:</label>
            <input type="text" id="country" name="country" value="<%= team.country %>" required>

            <label for="worldChampionships">Campionats de Contructors:</label>
            <input type="number" id="worldChampionships" name="worldChampionships" value="<%= team.worldChampionships %>" step="0.01" required>

            <button type="submit">Desar Canvis</button>
        </form>
        <a href="/teams">Tornar al llistat</a>
    </main>
</body>

</html>