<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Equips per <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Equips</h2>
            <ul class="product-list">
                <% data.teams.forEach(team=> { %>
                    <li class="product-item">
                        <strong>
                            <%= team.name %>
                        </strong>
                        <span>Pais: <%= team.country %></span>
                        <span>Campionats de constructors: <%= team.worldChampionships %></span>
                        <span><a href="/teams/<%= team.id %>">Detall Equip</a></span>
                        <span><a href="/teams/editTeam/<%= team.id %>">Editar equip</a></span>
                        <span>
                            <form action="/teams/<%= team.id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="link-button">Eliminar Equip</button>
                            </form>
                        </span>
                    </li>
                    <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>